@charset "utf-8";

@media screen and (max-width: 768px){

}

body {
  font-size:100%;
  font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  color: #424242;
  margin: 0;
  background-color: #b3d0d7;
  background-size: 100%;
  background-attachment: fixed;
  text-decoration: none;
}

/* ----------HEADER---------- */
header {
  height: 100vh;
  width: 100%;
  align-items: center;
}

span {
  color: gray;
}

.header_nav{
  top: 0;
  background-color: rgb(255, 255, 255,0.9);
  position: fixed;
  width: 100%;
}

.header_nav ul{
  justify-content: flex-end;
  display: flex;
  list-style: none;
  width: 100%;
}

.menu li {
  padding: 0 10px;
  transition-duration: .6s;
}

.menue-li:hover {
  transform: scale(1.1);
}

a {	
  text-decoration: none;
  color: black;
}

header h1{ 
  width: 100%;
  font-size: 4.5em;
  padding: 30vh 0 ;
  text-align: center;
}

#batu {
  color: gray;
}

.Anker {
  padding-top: 100px;
  margin-top:-100px;
}

/* ----------DELIMITER---------- */
main .container{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.portfolio_delimiter{
  background-color: rgba(255, 255, 255,0.8);
  width: 100%;
  height: 100%;
  min-height: 70vh;
}

.portfolio_delimiter2{
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

.portfolio_delimiter3{
  background-color: rgba(255, 255, 255,0.8);
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

#container_body {
  padding: 0 10%;
}

/* ----------PROFILE---------- */
.profile_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 70vh;
}

.profile_body p{
  line-height: 1.9;
  text-align: left;
  padding-left: 3%;
  font-size: 13px;
}

.icon {
  width: 150px;
  height: 175px;
  margin-top: -20px;
}

.a{
  padding-top: 12vh;
  padding-bottom: 12vh;
  font-size: 40px;
}

.b{
  padding-top: 12vh;
  padding-bottom: 5vh;
  font-size: 40px;
}

/* ----------SKILL---------- */
.card_all {
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
}

.card-wrapper{
  justify-content: space-between;
  min-width: 350px;
  max-width: 400px;
  height: 300px;
  margin: 10px;
  display: inline-block;
  background-color: rgba(255, 255, 255,0.8);
}

.card{
  width: 100%;
}

.skill-desc-title {
  padding-bottom: 20px;
}

.table {
  padding-top : 15px;
  justify-content: space-around;
  width: 100%;
}

.table-qualifications {
  justify-content: space-between;
  width: 100%;
  
}

/* ----------WORKS---------- */
.all-works {
  justify-content: space-around;
  flex-wrap: wrap;
}

.works-block {
  margin: 0 20px 20px;
  display: inline-block;
  border: 1px solid rgb(209, 207, 207);
  min-width: 350px;
  max-width: 90px;
}

.all-works img {
  min-width: 350px;
  max-width: 90px;
  height: 225px;
  cursor: pointer;
}

.works-img:hover {
  transform:scale(1.04,1.04);
  transition: transform 0.8s;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  
}

.works_name {
  font-size: 19px;
  font-weight: bold;
}

.works_name2 {
  font-size: 13px;
  border-bottom: solid;
  width: 80px;
  margin: -10px auto 20px;
}

#close, #close2 {
  cursor: pointer;
  width: 150px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 10px 0;
  margin: 16px auto 0;
}

#mask, #mask2 {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#modal, #modal2 {
  background-color: #fff;
  width: 90%;
  height: 70%;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, -400px);
  overflow: hidden;
  overflow-y: auto;
  overflow-y: scroll;
  
}

#modal > p {
  margin: 0 0 10px;
}
#modal2 > p {
  margin: 0 0 10px;
}

#mask.hidden {
  display: none;
}

#mask2.hidden2 {
  display: none;
}

#modal.hidden {
  display: none;
}

#modal2.hidden2 {
  display: none;
}

.hidden, .hidden2 {
  position: relative;
}

.catch {
  display: flex;
  align-items: center;
  justify-content: center;
}

.catch:before, .catch:after {
  border-top: 1px solid;
  content: "";
  width: 100px;
}

.catch:before {
  margin-right: 1em;
}

.catch:after {
  margin-left: 1em;
}

.modal-img {
  margin: 0 auto;
  margin-top: 30px;
  min-height: 230px;
  max-height: 360px;
  max-width: 90%;
}

/* ----------CONTACT---------- */
.contact-class {
  height: 80vh;
}

#twitter_b {
  margin: 30px auto 0;
  border-bottom: solid;
  width: 100px;
}


/* ----------FOOTER---------- */
footer{
  padding: 60px 0;
  text-align: center;
  color: #aaa;
  font-size:100%;
}

#page-top {
  position: fixed;
  right: 5px;
  bottom: 20px;
  height: 50px;
  text-decoration: none;
  font-weight: bold;
  transform: rotate(90deg);
  font-size: 90%;
  line-height: 1.5rem;
  color: #737373;
  padding: 0 0 0 35px;
  border-top: solid 1px;
}

#page-top::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: 0px;
  width: 15px;
  border-top: solid 1px;
  transform: rotate(35deg);
  transform-origin: left top;
}

#page-top:hover {
  color: #fff;
}